<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: '' } %>

<% admin_breadcrumb("#{I18n.t(:'spree.admin.gift_cards.editing_gift_card')}") %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.admin.back_to_order_details'), url_for([:edit, :admin, @order]), class: 'btn btn-primary' %>
  </li>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @gift_card } %>

<% if @gift_card.can_deactivate? && can?(:deactivate, @gift_card) %>
  <div class='filter-actions actions gift-card-actions' data-hook='buttons'>
    <ul class='page-actions inline-menu mb-4'>
      <li>
        <%= button_to I18n.t(:'spree.admin.gift_cards.send_email'), send_email_admin_order_gift_card_path(@order, @gift_card), class: 'button', method: 'put', data: { confirm: I18n.t(:'spree.admin.gift_cards.send_email_confirmation') } %>
      </li>
      &nbsp;
      <li>
        <%= button_to I18n.t(:'spree.admin.gift_cards.deactivate'), deactivate_admin_order_gift_card_path(@order, @gift_card), class: 'button', method: 'put', data: { confirm: I18n.t(:'spree.admin.gift_cards.deactivate_confirmation') } %>
      </li>
    </ul>
  </div>
<% end %>

<%= form_for @gift_card, url: admin_order_gift_card_path(@order, @gift_card) do |f| %>
  <fieldset class='no-border-top'>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: edit_admin_order_path(@order) } %>
  </fieldset>
<% end %>
