<% content_for :page_title do %>
  <%= I18n.t(:'spree.admin.gift_cards.listing_gift_cards') %>
<% end %>

<%= render partial: 'lookup_form' %>

<%= paginate @gift_cards %>

<% if @gift_cards.any? %>
  <table class="index">
    <thead>
      <tr>
        <th class="align-center"><%= Spree::VirtualGiftCard.human_attribute_name(:redemption_code) %></th>
        <th class="align-center"><%= Spree::VirtualGiftCard.human_attribute_name(:amount) %></th>
        <th class="align-center"><%= I18n.t(:'spree.admin.gift_cards.purchased_by') %></th>
        <th class="align-center"><%= I18n.t(:'spree.admin.gift_cards.purchased_at') %></th>
        <th class="align-center"><%= Spree::VirtualGiftCard.human_attribute_name(:recipient_email) %></th>
        <th class="align-center"><%= Spree::VirtualGiftCard.human_attribute_name(:sent_at) %></th>
        <th class="align-center"><%= I18n.t(:'spree.admin.gift_cards.redeemed_by') %></th>
        <th class="align-center"><%= I18n.t(:'spree.admin.gift_cards.redeemed_at') %></th>
      </tr>
    </thead>

    <tbody>
      <% @gift_cards.each do |gift_card| %>
        <tr>
          <td class="align-center"><%= gift_card.formatted_redemption_code %></td>
          <td class="align-center"><%= number_to_currency(gift_card.amount) %></td>
          <td class="align-center"><%= link_to "#{gift_card.purchaser.email}", edit_admin_user_path(gift_card.purchaser) %></td>
          <td class="align-center"><%= gift_card.formatted_created_at %></td>
          <td class="align-center"><%= gift_card.recipient_email %></td>
          <td class="align-center"><%= gift_card.formatted_sent_at || gift_card.formatted_send_email_at %></td>
          <% if gift_card.redeemed? %>
            <td class="align-center"><%= link_to "#{gift_card.redeemer.email}", edit_admin_user_path(gift_card.redeemer) %></td>
            <td class="align-center"><%= gift_card.formatted_redeemed_at %></td>
          <% else %>
            <td class="align-center"></td>
            <td class="align-center"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @gift_cards %>
